main {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 20px 15px 20px 15px;
}

.title {
    position: relative;
    width: 100%;
    margin-top: 6px;
    font-size: var(--font-bold-size);
    font-family: var(--font-jetbrain);
    color: var(--font-bold-color);
}
.description {
    position: relative;
    width: 100%;
    margin-top: 6px;
    font-size: var(--font-light-size);
    font-family: var(--font-space);
    color: var(--font-light-color);
}


input{
    height:35px;
    border:none;
}

.box {
    margin-top: 20px;
    width: calc(100% - 10px);
    max-width: 300px;
}
.box svg {
    height: 20px;
    width: 20px;
}

.slvz-button{
    padding:0 9px 0 9px;
}